@model IEnumerable<Domain.Singles.sLigas>
@using GridMvc.Html
@{
    ViewBag.Title = "Listado de Ligas";
}


<div style="padding: 10px 0px 5px 0px;">
    <p id="warningMessage" class=" bg-warning  text-warning"></p>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div id="modalContent" class="modal-content">

        </div>
    </div>
</div>

<div class="modal" id="blockModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <img src="~/Content/images/loading.gif" />
</div>
<!-- Modal -->


<div class="panel panel-default">

    <div class="panel-heading">
        @using (Html.BeginForm("Index", "Ligas", FormMethod.Get, new { @class = "pull-right", role = "search" }))
        {
            @Html.TextBox("searchStr", null, new { @class = "form-control input-sm", placeholder = "Buscar...", size = "40" })
        }
        <h4>@ViewBag.Title</h4>
    </div>

    <div class="panel-body">
        <br />
        <small>
            @Html.Grid(Model).EmptyText("No hay datos que mostrar").Columns(columns =>
                       {
                           columns.Add(m => m.idLiga).Titled("#");
                           columns.Add(model => model.nombre).Titled("Nombre").Filterable(true).Sanitized(false).Encoded(false).RenderValueAs(model => Html.ActionLink(model.nombre,
                               "Clasificacion", "Ligas", new { idLiga = model.idLiga }, null).ToHtmlString());
                           
                           columns.Add(m => m.idCategoriaLiga).Titled("idCategoriaLiga");

                           columns.Add()
                               .Encoded(false)
                               .Sanitized(false)
                            .RenderValueAs(m => CustomRenderingOfColumn(m.idLiga, m.nombre));

                       }).WithPaging(10).Sortable(true)
        </small>
    </div>
</div>


@helper CustomRenderingOfColumn(int idLiga, string nombre)
{
    
}


<script>

    function ClearModal() {
        $('#modalContent').html('');
    }

    function CheckSuccess(result) {
        $('#myModal').modal('hide');
        $('#blockModal').modal('hide');

        if (result.success == true) {
            if (result.reload) document.location.reload();
            if (result.redirect != null) document.location.href = result.redirect;
        };

        $('#warningMessage').html(result.messaje);
    }


    function Block() {
        $('#blockModal').modal();
    }

</script>