@model IEnumerable<Domain.Singles.sEquipos>
@using GridMvc.Html

<div class="row">

    <small>
        @Html.Grid(Model).Columns(columns =>
                       {
                           columns.Add(m => m.idEquipo).Titled("#");
                           columns.Add(m => m.Nombre).Titled("Nombre");
                           columns.Add(m => m.Puntos).Titled("Puntos");
                           columns.Add(m => m.Partidos_Jugados).Titled("Partidos_Jugados");
                           columns.Add(m => m.Partidos_Ganados).Titled("Partidos_Ganados");
                           columns.Add(m => m.Partidos_Perdidos).Titled("Partidos_Perdidos");
                           columns.Add(m => m.Partidos_Empatados).Titled("Partidos_Empatados");


                           columns.Add()
                               .Encoded(false)
                               .Sanitized(false);

                       }).WithPaging(10).Sortable(true)
    </small>

    <p></p>

</div>