@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead"></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Ir &raquo;</a></p>*@
</div>




@*<div class="row">
    <div class="col-md-4">
        <h2>LGR1</h2>
        <p>
          
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LGR2</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LGRF</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ir &raquo;</a></p>
    </div>
</div>*@