@{
    ViewBag.Title = "Gestionar Live";
}

<div style="padding: 10px 0px 5px 0px;">
    <p id="warningMessage" class=" bg-warning  text-warning"></p>
</div>

<ul id="tabs" class="nav nav-tabs na" data-tabs="tabs">

    <li>@Html.ActionLink("Live", "Index", "Live", null, new { @class = "btn btn-primary" })</li>

    @if (ViewBag.NuevoLive == true)
    {
        <li class="active"><a href="#general" data-toggle="tab">Nuevo live</a></li>
    }

</ul>

<div style="padding: 30px 30px 0px 30px;">

    <div id="my-tab-content" class="tab-content">

        <div class="tab-pane fade active in ajaxPartialContents" id="general" data-url="@Url.Action(ViewBag.NuevoLive ? "crearAsignarLive" : "AjaxDetails", "Live", ViewBag.NuevoLive ? new { id = ViewBag.idPartido } : new
                                                                                   {
                                                                                       id = ViewBag.idLive})">
            
        </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function (e) {

        // Cargamos asincronamente las secciones parciales que tienen establecida una URL.
        $(".ajaxPartialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });

    function CheckSuccess(result) {
        if (result.success == true) {
            if (result.reload) document.location.reload();
            if (result.redirect != null) document.location.href = result.redirect;
        };
    };



</script>

